.header{
    background-color: var(--dark-jungle-green);
    position: relative;
    z-index: -1;
    grid-template: 1fr 1fr 1fr 1fr;
    padding-inline:3em;
}


.background{
   
    background-image: url("/src/images/bgp2.png");
    background-size:1100px;
    position:absolute;
    overflow: hidden;
    top:0;
    left:0; 
    width: 100%;
    height:100%;
    opacity: 0.075;
    background-repeat: repeat;
    z-index: -1;
    
}

.nav-bar{
    width:100%;
    height: 100px;
    display: flex;
    align-items: center;
    
}

.nav-items{
    margin:0;
    width:100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    font-family: 'Poppins',sans-serif;
    padding:0;
}

.nav-items > li{
    color:var(--medium-champagne);
    list-style: none;
    font-size: 1.2rem;
    font-weight: 600;
}

.intro{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    
}

.image{
    margin: auto auto;
    background-color: aliceblue;
    border-radius: 10%;
    width:auto;
    height:100%;
   
    

}

.image > img{
    padding:1em;
    width:350px;
    height:auto;
    border-radius: inherit;
    
}

.info{
    align-self: flex-start;
}

.info > h1{
    font-family: 'Prata', sans-serif;
    color: white;
    font-size:64px;
    margin-bottom: 0px;
}

.info > h2{
    color: var(--gamboge);
    font-family: 'Pridi', sans-serif;
    font-weight: 200;
    margin: 0%;
    font-size: 1.5rem;
}

.about{
    padding-top: 2em;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding-bottom: 52px;
}

.about > ul{
    padding-inline-start: 1rem;
   
}

.about > ul > li::marker{
    color:var(--gamboge);
    font-size: 1.1rem;
}






