@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@700&family=Poppins:wght@100;200;300;400;600&family=Prata&family=Pridi:wght@300;400;600&display=swap');

:root{
  --dark-jungle-green: #091700ff;
  --forest-green-traditional: #104911ff;
  --maximum-green: #548c2fff;
  --maximum-green-2: #679436ff;
  --medium-champagne: #e9d8a6ff;
  --gamboge: #ee9b00ff;
  --alloy-orange: #ca6702ff;
  --rust: #bb3e03ff;
  --rufous: #ae2012ff;
  --ruby-red: #9b2226ff;
  --dark-olive-green: #606c38ff;
  --kombu-green: #283618ff;
  --cornsilk: #fefae0ff;
  --earth-yellow: #dda15eff;
  --liver-dogs: #bc6c25ff;
  --pale-silver: #d6ccc2ff;
  --umber: #5e503fff;
}

.App{
  scroll-behavior: smooth;
}

.Project{
  background-color: var(--cornsilk);
  padding:0 2em 2em 2em;
}

.Project > h2{
  margin:0;
  text-align:center;
  padding-block: 0.5em;
  font-size: 2.5rem;
  font-family: 'Prata', sans-serif;
  font-weight: 600;
  color:var(--dark-jungle-green);
}

.card-section{
  display: flex;
  flex-direction: column;
  gap:2em;
}
